{% extends 'base.html' %}

{% block title %}Courses_Instructors{% endblock %}

{% block navlinks %}
<div class="navbar-nav nav-tabs">
    <a class="nav-link mx-3" aria-current="page" href="/">Home</a>
    <a class="nav-link" aria-current="page" href="/students">Students</a>
    <a class="nav-link" href="/majors">Majors</a>
    <a class="nav-link" href="/advisors">Advisors</a>
    <a class="nav-link" href="/instructors">Instructors</a>
    <a class="nav-link" href="/courses">Courses</a>
    <a class="nav-link active" href="/courses_instructors">Courses_Instructors</a>
    <a class="nav-link" href="/registrations">Registrations</a>
    <a class="nav-link" href="/semesters">Semesters</a>
    <a class="nav-link" href="/grades">Grades</a>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid text-center">
    <h1 class="display-5">Courses_Instructors</h1>
    <p class="text-muted">View, add or delete courses with their respective instructor(s)</p>
</div>

<!-- Add New Course_Instructor Button -->
<div class="container-fluid text-center">
    <button class="btn btn-primary" onclick="window.location.href='#addCourseInstructor';">Add New
        Course_Instructor</button>
</div>
<br />

<div style="display: block; max-height: 450px; overflow-y: auto; width:100%;">
    <table class="table table-striped table-hover">
        <thead>
            <tr style="position:sticky; top: 0; background-color: rgb(220, 220, 220);">
                {% for key in courses_instructors[0].keys() %}

                <th scope="col"> {{ key }} </th>

                {% endfor %}
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for course_instructor in courses_instructors %}
            {% set course_instructor_id = course_instructor['Course_Instructor ID'] %}
            <tr id="{{course_instructor_id}}">
                {% for key in course_instructor.keys() %}

                <td>{{course_instructor[key]}}
                    {% endfor %}
                <td><a href="delete_course_instructor/{{course_instructor_id}}">
                        <img src="{{ url_for('static', filename='images/trash.svg')}}" alt="Delete" width="20"
                            height="20">
                    </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<p id="addCourseInstructor"> </p>
<br />
<hr>
<br />

<div class="container-fluid">
    <form action="/courses_instructors" method="post" class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Add Course_Instructor</legend>

            <!-- Select Basic -->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="course_id">Select Course</label>
                <div class="col-md-4">
                    <select id="course_id" name="course_id" class="form-control form-select" required>
                        <option value="" disabled selected hidden>Please Choose...</option>
                        {% for course in courses %}
                        <option value="{{course.course_id}}">{{course.Course}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group pt-2">
                <label class="col-md-4 control-label" for="instructor_id">Select Instructor</label>
                <div class="col-md-4">
                    <select id="instructor_id" name="instructor_id" class="form-control form-select" required>
                        <option value="" disabled selected hidden>Please Choose...</option>
                        {% for instructor in instructors %}
                        <option value="{{instructor.instructor_id}}">{{instructor.Instructor}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group pb-2">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-primary">Add Course_Instructor</button>
                </div>
            </div>

        </fieldset>
    </form>



</div>
{% endblock %}