{% extends 'base.html' %}

{% block title %}Instructors{% endblock %}

{% block navlinks %}
<div class="navbar-nav nav-tabs">
    <a class="nav-link mx-3" aria-current="page" href="/">Home</a>
    <a class="nav-link" aria-current="page" href="/students">Students</a>
    <a class="nav-link" href="/majors">Majors</a>
    <a class="nav-link" href="/advisors">Advisors</a>
    <a class="nav-link active" href="/instructors">Instructors</a>
    <a class="nav-link" href="/courses">Courses</a>
    <a class="nav-link" href="/courses_instructors">Courses_Instructors</a>
    <a class="nav-link" href="/registrations">Registrations</a>
    <a class="nav-link" href="/semesters">Semesters</a>
    <a class="nav-link" href="/grades">Grades</a>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid text-center">
    <h1 class="display-5">Instructors</h1>
    <p class="text-muted">View, add or delete instructors</p>
</div>

<!-- Add New Instructor Button -->
<div class="container-fluid text-center">
    <button class="btn btn-primary" onclick="window.location.href='#addInstructor';">Add New Instructor</button>
</div>
<br />

<div style="display: block; max-height: 450px; overflow-y: auto; width:100%;">
    <table class="table table-striped table-hover">
        <thead>
            <tr style="position:sticky; top: 0; background-color: rgb(220, 220, 220);">
                {% for key in instructors[0].keys() %}

                <th scope="col"> {{ key }} </th>

                {% endfor %}
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for instructor in instructors %}
            {% set instructor_id = instructor['ID'] %}
            <tr>
                {% for key in instructor.keys() %}

                <td>{{instructor[key]}}
                    {% endfor %}
                <td><a href="delete_instructor/{{instructor_id}}">
                        <img src="{{ url_for('static', filename='images/trash.svg')}}" alt="Delete" width="20"
                            height="20">
                    </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<p id="addInstructor"> </p>
<br />
<hr>
<br />

<div class="container-fluid">

    <form action="/instructors" method="post" class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Add Instructor</legend>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="fname">First Name</label>
                <div class="col-md-4">
                    <input id="fname" name="fname" type="text" placeholder="" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="lname">Last Name</label>
                <div class="col-md-4">
                    <input id="lname" name="lname" type="text" placeholder="" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                    <input id="email" name="email" type="email" placeholder="" class="form-control input-md"
                        required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="phone">Phone</label>
                <div class="col-md-2">
                    <input id="phone" name="phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                        placeholder="XXX-XXX-XXXX" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="aline1">Address Line 1</label>
                <div class="col-md-4">
                    <input id="aline1" name="aline1" type="text" placeholder="" class="form-control input-md"
                        required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="aline2">Address Line 2</label>
                <div class="col-md-4">
                    <input id="aline2" name="aline2" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="city">City</label>
                <div class="col-md-2">
                    <input id="city" name="city" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="state">State</label>
                <div class="col-md-2">
                    <input id="state" name="state" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group pt-2">
                <label class="col-md-4 control-label" for="postal">Postal Code</label>
                <div class="col-md-2">
                    <input id="postal" name="postal" type="text" pattern="[0-9]{5}" class="form-control input-md">

                </div>
            </div>


            <!-- Button -->
            <div class="form-group pb-2">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-primary">Add Instructor</button>
                </div>
            </div>

        </fieldset>
    </form>


</div>



</div>

{% endblock %}