{% extends 'base.html' %}

{% block title %}Students{% endblock %}

{% block navlinks %}
<div class="navbar-nav nav-tabs">
    <a class="nav-link mx-3" aria-current="page" href="/">Home</a>
    <a class="nav-link active" aria-current="page" href="/students">Students</a>
    <a class="nav-link" href="/majors">Majors</a>
    <a class="nav-link" href="/advisors">Advisors</a>
    <a class="nav-link" href="/instructors">Instructors</a>
    <a class="nav-link" href="/courses">Courses</a>
    <a class="nav-link" href="/courses_instructors">Courses_Instructors</a>
    <a class="nav-link" href="/registrations">Registrations</a>
    <a class="nav-link" href="/semesters">Semesters</a>
    <a class="nav-link" href="/grades">Grades</a>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid text-center">
    <h1 class="display-5">Students</h1>
    <p class="text-muted">View, add, update or delete students</p>
</div>

<!-- Add New Student Button -->
<div class="container-fluid text-center">
    <button class="btn btn-primary" onclick="window.location.href='#addStudent';">Add New Student</button>
</div>
<br />


<div style="display: block; max-height: 450px; overflow-y: auto; width:100%;">
    <table class="table table-striped table-hover">
        <thead>
            <tr style="position:sticky; top: 0; background-color: rgb(220, 220, 220);">
                {% for key in students[0].keys() %}

                <th scope="col"> {{ key }} </th>

                {% endfor %}
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            {% set student_id = student['ID'] %}
            <tr id="{{student_id}}">
                {% for key in student.keys() %}

                <td>{{student[key]}}
                    {% endfor %}
                <td><a href="edit_student/{{student_id}}"><img
                            src="{{ url_for('static', filename='images/pencil.svg')}}" alt="Edit" width="20"
                            height="20"></a></td>
                <td><a href="delete_student/{{student_id}}">
                        <img src="{{ url_for('static', filename='images/trash.svg')}}" alt="Delete" width="20"
                            height="20">
                    </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<p id="addStudent"> </p>
<br />
<hr>
<br />

<!-- Insert student -->
<div class="container-fluid">

    <form action="/students" method="post" class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Add Student</legend>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="fname">First Name</label>
                <div class="col-md-4">
                    <input id="fname" name="fname" type="text" placeholder="" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="lname">Last Name</label>
                <div class="col-md-4">
                    <input id="lname" name="lname" type="text" placeholder="" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                    <input id="email" name="email" type="email" placeholder="" class="form-control input-md"
                        required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="phone">Phone</label>
                <div class="col-md-2">
                    <input id="phone" name="phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                        placeholder="XXX-XXX-XXXX" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="aline1">Address Line 1</label>
                <div class="col-md-4">
                    <input id="aline1" name="aline1" type="text" placeholder="" class="form-control input-md"
                        required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="aline2">Address Line 2</label>
                <div class="col-md-4">
                    <input id="aline2" name="aline2" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="city">City</label>
                <div class="col-md-2">
                    <input id="city" name="city" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="state">State</label>
                <div class="col-md-2">
                    <input id="state" name="state" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="postal">Postal Code</label>
                <div class="col-md-2">
                    <input id="postal" name="postal" type="text" pattern="[0-9]{5}" class="form-control input-md">

                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="major">Select Major</label>
                <div class="col-md-4">
                    <select id="major" name="major" class="form-control form-select" required>
                        <option value="" disabled selected hidden>Please Choose...</option>
                        {% for major in majors %}
                        <option value="{{ major.major_id }}">{{ major.title }}</option>
                        {% endfor %}
                        <option value="NULL">None</option>
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="advisor">Select Advisor</label>
                <div class="col-md-4">
                    <select id="advisor" name="advisor" class="form-control form-select" required>
                        <option value="" disabled selected hidden>Please Choose...</option>
                        {% for advisor in advisors %}
                        <option value="{{ advisor.advisor_id }}">{{ advisor.Advisor }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group pb-2">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                    <button type="submit" id="submit" name="Add_Student" class="btn btn-primary">Add Student</button>
                </div>
            </div>

        </fieldset>
    </form>


</div>

{% endblock %}