{% extends 'base.html' %}

{% block title %}Edit Student{% endblock %}

{% block navlinks %}
<div class="navbar-nav nav-tabs">
    <a class="nav-link mx-3" aria-current="page" href="/">Home</a>
    <a class="nav-link active" aria-current="page" href="/students">Students</a>
    <a class="nav-link" href="/majors">Majors</a>
    <a class="nav-link" href="/advisors">Advisors</a>
    <a class="nav-link" href="/instructors">Instructors</a>
    <a class="nav-link" href="/courses">Courses</a>
    <a class="nav-link" href="/courses_instructors">Courses_Instructors</a>
    <a class="nav-link" href="/registrations">Registrations</a>
    <a class="nav-link" href="/semesters">Semesters</a>
    <a class="nav-link" href="/grades">Grades</a>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid text-center">
    <h1 class="display-5">Edit Student</h1>
    <p class="text-muted">Edit the student's information</p>
</div>

<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form action="/students/edit_student/{{student_id}}" method="post" class="form-horizontal">
                <fieldset>

                    <!-- Edit_Student -->
                    <legend>Edit Student</legend>


                    <!-- Text input-->
                    <div class="form-group py-2">
                        <label class="col-md-4 control-label" for="fname">First Name</label>
                        <div class="col-md-4">
                            <input id="fname" name="fname" type="text" value="{{data[0].First}}"
                                class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group py-2">
                        <label class="col-md-4 control-label" for="lname">Last Name</label>
                        <div class="col-md-4">
                            <input id="lname" name="lname" type="text" value="{{data[0].Last}}"
                                class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group py-2">
                        <label class="col-md-4 control-label" for="email">Email</label>
                        <div class="col-md-4">
                            <input id="email" name="email" type="email" value="{{data[0].Email}}"
                                class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group py-2">
                        <label class="col-md-4 control-label" for="phone">Phone</label>
                        <div class="col-md-2">
                            <input id="phone" name="phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                value="{{data[0].Phone}}" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group py-2">
                        <label class="col-md-4 control-label" for="aline1">Address Line 1</label>
                        <div class="col-md-4">
                            <input id="aline1" name="aline1" type="text" value="{{data[0]['Address Line 1']}}"
                                class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group py-2">
                        <label class="col-md-4 control-label" for="aline2">Address Line 2</label>
                        <div class="col-md-4">
                            <input id="aline2" name="aline2" type="text" value="{{data[0]['Address Line 2']}}"
                                class="form-control input-md">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group py-2">
                        <label class="col-md-4 control-label" for="city">City</label>
                        <div class="col-md-2">
                            <input id="city" name="city" type="text" value="{{data[0].City}}"
                                class="form-control input-md">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group py-2">
                        <label class="col-md-4 control-label" for="state">State</label>
                        <div class="col-md-2">
                            <input id="state" name="state" type="text" value="{{data[0].State}}"
                                class="form-control input-md">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group py-2">
                        <label class="col-md-4 control-label" for="postal">Postal Code</label>
                        <div class="col-md-2">
                            <input id="postal" name="postal" type="text" value="{{data[0]['Postal Code']}}"
                                pattern="[0-9]{5}" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group py-2">
                        <label class="col-md-4 control-label" for="major_id">Major</label>
                        <div class="col-md-4">
                            <select id="major_id" name="major_id" class="form-control form-select">
                                {% for major in majors %}
                                <option value="{{major.major_id}}" {{'selected' if data[0].Major==major.Major }}>
                                    {{major.Major}}
                                </option>
                                {% endfor %}
                                <option value="NULL" {{'selected' if data[0].Major==None }}>
                                    None</option>
                            </select>
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group py-2">
                        <label class="col-md-4 control-label" for="advisor_id">Advisor</label>
                        <div class="col-md-4">
                            <select id="advisor_id" name="advisor_id" class="form-control form-select">
                                {% for advisor in advisors %}
                                <option value="{{advisor.advisor_id}}" {{'selected' if data[0].Advisor==advisor.Advisor
                                    }}>
                                    {{advisor.Advisor}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="submit"></label>
                        <div class="col-md-4">
                            <button id="submit" name="submit" class="btn btn-primary">Save</button>
                            <a href="/students"><button type="button" class="btn btn-danger">Cancel</button></a>
                        </div>
                    </div>

        </div>
    </div>
</div>

{% endblock %}